<!DOCTYPE html>
<html>
  <head>
    <%- include('template/head') %>
  </head>

  <body>
    <%- include('template/nav') %>
    <main>
      <div class="banner">
        <div class="banner__content">
          <div class="banner__title">存放技術之地</div>
          Welcome to my blog
        </div>
      </div>
      <div class="posts">
        <div class="post">
          <h2>編輯文章</h2>
          <%= errorMessage%>
          <form method="POST" action="/update/<%= article.id%>">
            <input type="text" value="<%= article.title%>" name="title">
            <textarea name="content" rows="20" ><%= article.content %></textarea>
            <input class="card__submit" type="submit" value="送出">
          </form>
          <div>
            <a class="post__edit" href="/delete/<%= article.id%>">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </main>
    <footer>Copyright © 2020 Who's Blog All Rights Reserved.</footer>
  </body>
</html>